<div class="container max-w-4xl mx-auto" >

  <div class="flex flex-row ">
    <div class="p-7 bg-slate-50 basis-1/2 border-solid border-black border-x-2">
      <p class="uppercase font-semibold text-xl mb-2 text-violet-700">Subir Archivo</p>
      <p class="mb-5">
        Sube un Archivo XLSX con los IDs de los usuarios que quieras obtener toda
        su información <button (click)="ejemplo()" class="italic underline  decoration-[#BE9DFF] hover:decoration-violet-700 text-[#BE9DFF] hover:text-violet-700" >Ver ejemplo</button>
      </p>
      <input
        type="file"
        (change)="onChangeRead($event)"
        class="py-2 min-w-[160px] block w-full mb-2 text-sm text-black  file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm  file:bg-[#BE9DFF] file:text-black file:cursor-pointer hover:file:text-violet-700 hover:file:bg-[#88F4D0] file:shadow-[2px_2px_0px_1px_rgba(0,0,0,1)] file:border-solid file:border-2 file:border-black file:uppercase file:tracking-wider"
        accept=".xlsx, .cvs, .lsx"
      />
      <p class="italic text-sm text-gray-700">
        El encabezado de la primer columna se debe llamar "ID"
      </p>
    </div>
    <div class="flex justify-center items-center bg-[#88F4D0] basis-1/2 border-solid border-black border-r-2 ">
      <button
        class="max-h-10 min-w-[160px] py-2 px-4 rounded-full text-sm bg-[#BE9DFF] text-black hover:text-violet-700 hover:bg-[#88F4D0] shadow-[2px_2px_0px_1px_rgba(0,0,0,1)] border-solid border-2 border-black uppercase tracking-wider"
        (click)="fileUpload()"
      >
        Procesar
      </button>
    </div>
  </div>
  <div class="bg-slate-50 p-7 border-solid border-black border-2">
    <table class="w-full bg-[#BE9DFF] border-solid border-black border-2 shadow-[2px_2px_0px_1px_rgba(0,0,0,1)]">
      <thead>
        <tr class="bg-[#88F4D0]  border-solid border-black border-b-2" >
          <th>ID</th>
          <th>Nombre</th>
          <th>Empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of usuarios">
          <td class="p-2 text-center font-semibold">{{ item.id }}</td>
          <td class="p-2">{{ item.name }}</td>
          <td class="p-2">{{ item.company.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-row  border-solid border-b-2 border-r-2 border-l-2 border-black">
    <div class="w-2/4 p-7 bg-slate-50 min-h-[200px] ">
      <div class="h-full flex justify-center items-center">
      <a
        href="https://github.com/juangiovannijohn/List-to-XLSX"
        target="_blank"
        class="inline-block  text-center cursor-pointer max-h-10 min-w-[160px] py-2 px-4 rounded-full text-sm  bg-[#BE9DFF] text-black  hover:text-violet-700 hover:bg-[#88F4D0] shadow-[2px_2px_0px_1px_rgba(0,0,0,1)] border-solid border-2 border-black uppercase tracking-wider"
        >Ver repositorio</a
      >
    </div>
    </div>
    <div class="w-2/4  p-7  bg-[#BE9DFF] border-solid border-black border-l-2">
      <p class="uppercase font-semibold text-xl mb-2 ">Notas sobre la app:</p>
      <p class="mb-3">
        Éstos usuarios provienen de una API pública. Al iniciar la app se hace una
        consulta al endpoint de usuarios, se obtiene el objeto JSON y se muestra
        en pantalla con la tabla.
      </p>
      <p class="mb-9">
        Al cargarse el archivo Excel, el proceso de la app es leer los IDs y luego
        hacer una petición por cada usuario al endpoint. Se realiza un proceso de
        refactorización de la información que proviene de la API, y luego se lo
        agrega dentro en un nuevo archivo Excel el cual se descarga
        automaticamente.
      </p>
      <p class="uppercase font-semibold text-xl mb-2 ">Gracias: JSON Placeholder API</p>
      <p class="mb-14">[GET] https://jsonplaceholder.typicode.com/users</p>
    </div>

</div>
</div>
