<div class="py-7 bg-slate-50 flex items-center border-solid border-y-2 border-black">
 <h1 class="w-full text-8xl text-center font-title text text-slate-900">List to XLSX</h1>   
</div>
<div class=" flex flex-row px-9 bg-slate-50 justify-between items-center border-solid border-b-2 border-black">

    <div>
        <ul class="flex flex-row ">
            <li ><a class="block p-3 uppercase  hover:bg-[#88F4D0] hover:border-solid hover:border-x-2 hover:border-black " href="https://www.linkedin.com/in/juangiovannijohn/" target="_blank">LinkedIn</a></li>
            <li ><a class="block p-3 uppercase  hover:bg-[#88F4D0] hover:border-solid hover:border-x-2 hover:border-black" href="https://github.com/juangiovannijohn" target="_blank">GitHub</a></li>
        </ul>
    </div>
    <div>
        <ul class="flex flex-row ">
            <li ><a class="block p-3 uppercase bg-[#88F4D0] hover:bg-[#BE9DFF] border-solid border-x-2 border-black hover:bg-[#88F4D0]" href="https://juangiovannijohn.com.ar" target="_blank">Juangiovannijohn</a></li>
            <li ><a class="block p-3 bg-black hover:text-black hover:border-solid hover:border-r-2 hover:border-black text-white uppercase hover:bg-[#88F4D0]" href="../../../assets/cv/CV-JuanRodriguez-Dev.pdf" download>descargar cv</a></li>
        </ul>
    </div>
</div>
