<div class="py-7 bg-slate-50 flex items-center border-solid border-y-2 border-black">
 <h1 class="w-full text-8xl text-center font-title text text-slate-900">List to XLSX</h1>   
</div>
<div class=" flex flex-col md:flex-row md:px-9 bg-slate-50 justify-between items-center border-solid border-b-2 border-black">

    <div class="w-full">
        <ul class=" flex flex-col md:flex-row ">
            <li ><a class=" block p-3 uppercase text-center hover:bg-[#88F4D0] hover:border-solid hover:border-x-2 border-black border-x-2 border-b-2 md:border-0 " href="https://www.linkedin.com/in/juangiovannijohn/" target="_blank">LinkedIn</a></li>
            <li ><a class="block p-3 uppercase  text-center hover:bg-[#88F4D0] hover:border-solid hover:border-x-2  border-black border-x-2 border-b-2 md:border-0" href="https://github.com/juangiovannijohn" target="_blank">GitHub</a></li>
        </ul>
    </div>
    <div class="w-full">
        <ul class="flex flex-col md:flex-row md:justify-end">
            <li  ><a class="block p-3 uppercase text-center bg-[#88F4D0] hover:bg-[#BE9DFF] border-solid border-x-2 border-black hover:bg-[#88F4D0]" href="https://juangiovannijohn.com.ar" target="_blank">Juangiovannijohn</a></li>
            <li ><a class="block p-3 bg-black hover:text-black border-solid border-black  
                md:hover:border-x-0 
                md:hover:border-t-0
                md:hover:border-r-2
                hover:border-x-2 
                hover:border-t-2
                 text-white uppercase text-center hover:bg-[#88F4D0]" href="../../../assets/cv/CV-JuanRodriguez-Dev.pdf" download>descargar cv</a></li>
        </ul>
    </div>
</div>
